/.bundle
.idea/
Gemfile.lock
config/database.yml
# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

/action-cable-example/logfile
*.rbc
capybara-*.html
.rspec
/public/system
/coverage/
/spec/tmp
/spec/examples.txt
**.orig